---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700';

// Our variables
$base-font-family: 'Libre Baskerville', serif;
$base-font-size:   1.15em;
$small-font-size:  $base-font-size * 0.875;
$tiny-font-size:  $base-font-size * 0.5;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #333333;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

.pull-left {
  float: left;
}

.first-letter {
  line-height: normal;
  font-size: 1.5em;
}

@mixin image-mask($image) {
  // .center-block;
  @include media-query($on-palm) {
    //@extend .pull-left;
  }
  float: left;

  shape-outside: url($image);
  shape-margin: 20px;
  //  shape-image-threshold: 0.5;
  mask-image: url($image);
  max-width: 300px;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
"base",
"layout",
"syntax-highlighting",
"menus",
"section-headings"
;
