---
layout: default
permalink: projects/chipshop/index.html
paginate:
  category: chipshop
---

<div class="home">

  <h1 class="page-heading">Chip Shop</h1>

  <section>
    <ul class="post-list">
      {% for post in paginator.posts %}
      <li>
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.image %}
        {% picture listings {{post.image}} alt="{{post.title}}" %}
        {% endif %}
        {{ post.excerpt }}
        <div class="post-meta">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
          {% if post.categories %}
          {% include category_block.html %}
        </div>
      </li>
      {% endif %}

      {% endfor %}
    </ul>
  </section>
  {% include pagination.html %}

</div>
