---
layout: default
permalink: writing/chrischinchilla/index.html
paginate:
  category: chrischinchilla
---

<div class="home">

  <div class="chrischinchilla">
    <div class="image">
    </div>
    <h1 class="post-title">Personal Blog</h1>
    <div class="description">
      <p>This is a collection of my personal thoughts, reviews and rambling dating back many years.</p>
    </div>
  </div>
  <section>
    <ul class="post-list">
      {% for post in paginator.posts %}
      <li>
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.image %}
        {% picture listings {{post.image}} alt="{{post.title}}" %}
        {% endif %}
        {{ post.excerpt }}
        <div class="post-meta">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
          {% if post.categories %}
          {% include category_block.html %}
          {% endif %}
        </div>
      </li>

      {% endfor %}
    </ul>
  </section>
          {% include pagination.html %}

</div>
