---
layout: default
permalink: writing/chris
pagination:
  enabled: true
  category: Chris
---

<div class="home">

  <div class="chrischinchilla">
    <div class="image">
    </div>
    <h1 class="post-title">Chris Chinchilla</h1>
    <div class="description">
      <p>I am Chris Ward (aka Chris Chinchilla). I am a Developer, Writer, and full of crazy ideas.</p>

      <p>After 15 years as a developer I realized that my skills lie in helping others understand technical subjects. I achieve this through technical writing, blogging, networking and educating people through presentations and workshops.</p>

      <p>This site is the home of my personal and work projects and the experiences I have working on them. If you like what you see, read more, come and see me present, or support what I do.</p>

      <p class="smallText"><strong>Why do you call yourself Chris Chinchilla?</strong> Yes it does sound silly doesn’t it! It’s a nickname I’ve had since 1997 after a passing comment at school, I’ve carried it through all my fanzine and music years and like it. For those who are interested, a Chinchilla is a small (and very cute) <a href="http://en.wikipedia.org/wiki/Chinchilla">South American rodent</a>, a <a href="http://en.wikipedia.org/wiki/Chinchilla,_Queensland">Small Town in Queensland, Australia and is a real name in South America.</a></p>

    </div>
  </div>
  <section>
    <ul class="post-list">
      {% for post in paginator.posts %}
      <li>
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.image %}
        {% picture listings {{post.image}} alt="{{post.title}}" %}
        {% endif %}
        {{ post.excerpt }}
        <div class="post-meta">
          {% if post.publication_url %}
          <a class="post-link" href="{{ post.publication_url }}">Read More</a>
          {% else %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
          {% endif %}
          {% if post.categories %}
          {% include category_block.html %}
          {% endif %}
        </div>
      </li>

      {% endfor %}
    </ul>
  </section>
          {% include pagination.html %}

</div>
