---
layout: default
permalink: /clients/
pagination:
  enabled: true
  collection: clients
---

<div class="home">
  <div class="work">
    <h1 class="post-title">Clients</h1>
    <div class="description">
      <p>Here's a list of the awesome people we've worked with. Want to join them? Get in touch!</p>
    </div>
  </div>

  <section>
    <ul class="post-list">
      {% for post in paginator.posts %}
      <li>
        <h2>
          <a href="{{ post.company_url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% if post.image %}
        {% picture listings {{post.image}} alt="{{post.title}}" %}
        {% endif %}
        {{ post.excerpt }}
        <div class="post-meta">
          <a class="post-link" href="{{ post.company_url | prepend: site.baseurl }}">Read More</a>
          {% if post.categories %}
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
    {% include pagination.html %}
</div>
