---
layout: default
---

<div class="home">

  <div class="projects index">
    <!-- <div class="image"></div> -->
    <h1 class="post-title">Welcome</h1>
    <div class="description">
      <p>{% include index_intro.html %}</p>
    </div>
  </div>

  <section>
    <ul class="post-list">
      {% for post in paginator.posts %}
      <li>
        {% if post.image %}
        {% picture listings {{post.image}} alt="{{post.title}}" %}
        {% endif %}
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
        <!-- TODO: Let's consolidate -->
        <div class="post-meta">
          {% if post.categories[1] == 'sitepoint' or post.categories[1] == 'crate' %}
          <a class="post-link" href="{{ post.publication_url }}">Read More</a>
          {% else %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
          {% endif %}
          {% if post.categories %}
          {% include category_block.html %}
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
{% include pagination.html %}
</div>
