---
layout: default
permalink: writing/leantraveller/index.html
paginate:
  category: leantraveller
---

<div class="home">

  <h1 class="page-heading">The Lean Traveller</h1>

  <section>
    <ul class="post-list">
      {% for post in paginator.posts %}

      <li>
        {% if post.image %}
        {% picture listings {{post.image}} alt="{{post.title}}" %}
        {% endif %}
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
        <div class="post-meta">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
          {% if post.categories %}
          {% include category_block.html %}
          {% endif %}
        </div>
      </li>

      {% endfor %}
    </ul>
  </section>
        {% include pagination.html %}

</div>
