---
layout: default
permalink: /podcast/
pagination:
  enabled: true
  category: podcast
---

<div class="home">
  <div class="podcast">
    <div class="image">
    </div>
    <h1 class="post-title">Podcasts</h1>
    <div class="description">
      <p>
        Our podcast is a regular ramble that covers technology, robots, coding, IoT, current affairs, travels, writing and so much more.</p>

<a class=" jsOutboundLink" href="https://anch.co/get_anchor" data-vars-outbound-link="https://anch.co/get_anchor" target="_blank" rel="noopener noreferrer"><img alt="Anchor Podcasts" class="styles__anchorPodcasts___CJAQT" width="130" height="40" src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/anchor-podcasts-3.png" srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/anchor-podcasts-3.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/anchor-podcasts-3@2x.png 2x"></a>

<a class=" jsOutboundLink" href="https://itunes.apple.com/au/podcast/gregarious-mammal/id1071207052" data-vars-outbound-link="https://itunes.apple.com/au/podcast/gregarious-mammal/id1071207052" target="_blank" rel="noopener noreferrer"><img alt="Apple Podcasts" class="styles__applePodcasts___1BGG3" width="130" height="33" src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/apple-podcasts-3.png" srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/apple-podcasts-3.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/apple-podcasts-3@2x.png 2x"></a>


<a class=" jsOutboundLink" href="http://pca.st/nNqR" data-vars-outbound-link="http://pca.st/nNqR" target="_blank" rel="noopener noreferrer"><img alt="PocketCasts" class="styles__pocketCasts___iURED" width="131" height="40" src="https://d12xoj7p9moygp.cloudfront.net/images/podcast/pocketcasts-4.png" srcset="https://d12xoj7p9moygp.cloudfront.net/images/podcast/pocketcasts-4.png 1x, https://d12xoj7p9moygp.cloudfront.net/images/podcast/pocketcasts-4@2x.png 2x"></a>

    </div>
  </div>

  <section>
    {% include post_list.html %}
  </section>
  {% include pagination.html %}
</div>
