---
layout: default
permalink: presentations/index.html
paginate:
  collection: presentations
---

<div class="home">

  <h1 class="page-heading">Presentations</h1>

  {% assign presentations = site.presentations %}

  <section>
    <ul class="post-list">
      {% for presentation in paginator.presentations reversed %}

      <li>
        {% if presentation.image %}
        {% picture listings {{presentation.image}} alt="{{presentation.title}}" %}
        {% endif %}
        <h2>
          <a href="{{ presentation.pres_url }}" target="_blank">{{ presentation.title }}</a>
        </h2>
        {{ presentation.content }}
        <div class="post-meta">
          <p>
            <b>Presented at:</b>

            {% if presentation.presented %}
            {{ presentation.presented }}, {{presentation.date_presented | date: '%B %d %Y' }}
            {% endif %}
          </p>
          <a class="post-link" href="{{ presentation.pres_url }}" target="_blank">Presentation</a><br/>
          <a class="post-link" href="{{ presentation.pres_source }}" target="_blank">Presentation File</a>
        </div>
      </li>

      {% endfor %}
    </ul>
  </section>
  {% include pagination.html %}

</div>
