---
layout: default
permalink: services/index.html
paginate:
  collection: services
---

<div class="home">
  <div class="services">
    <div class="image">
      {% picture categories cat_image.gif alt="Cat Image" %}
    </div>
    <h1 class="post-title">Services</h1>
    <div class="description">
      <p>
        Combining my experience in development, community development and education I currently offer technical writing and developer relations services for hire. Take a look at some of the links below to see what I can offer.
      </p>
    </div>
  </div>

  <section>
    <ul class="post-list">
            {% for post in paginator.services reversed %}

      <li>
        {% if post.image %}
        {% picture listings {{post.image}} alt="{{post.title}}" %}
        {% endif %}
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p>
          {{ post.excerpt }}
        </p>
        <div class="post-meta">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
          {% if post.categories %}
          {% include category_block.html %}
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
      {% include pagination.html %}

</div>
