---
layout: default
---

<div class="home">
  <div class="projects software">
    <div class="image">
      {% picture categories meerkat_image.gif alt="Meerkat Image" %}
    </div>
    <h1 class="post-title">Software</h1>
    <div class="description">
      <p>For most of my technical life I have undertaken work for others in an agency context. Recently I have been working on products instead and here are a few of my own, beginning with a rather dumb mobile app that is for your 'enjoyment'.
      </p>
    </div>
  </div>

  <section>
    <ul class="post-list">
      {% for post in site.categories.software limit:15%}
      <li>
        {% if post.image %}
        {% picture listings {{post.image}} alt="{{post.title}}" %}
        {% endif %}
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
        <div class="post-meta">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
          {% if post.categories %}
          {% include category_block.html %}
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
