---
layout: page
title: Topics
---
<!-  - Categories -->
{% for tag in site.tags %}
<div class="box topics">
	<h2>{{ tag | first }}<a name="{{ tag | first | cgi_escape }}"></a></h2>
	<ul class="postList">
		{% for posts in tag %}
		{% for post in posts %}
		{% if post.title %}
		<li class="nested">
			{% if post.publication_url %}
			<a class="post-link" href="{{ post.publication_url }}">{{ post.title }}</a>
			{% else %}
			<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			{% endif %}
		</li>
		{% endif %}
		{% endfor %}
		{% endfor %}
	</ul>
</div>
{% endfor %}
