---
layout: default
permalink: /writing/
categories: Both writing
pagination:
enabled: true
category: writing
---
<div class="home">
  <div class="writing">
    <div class="image">
    </div>
    <h1 class="post-title">Writing</h1>
    <div class="description">
      <ul>
        <li><a href="/writing/chris">Chris Writing</a></li>
        <li><a href="/writing/cate">Cate Writing</a></li>
      </ul>
    </div>
  </div>

  <section>
    {% include post_list.html %}
  </section>
  {% include pagination.html %}
</div>
