---
layout: default
permalink: writing
pagination:
  enabled: true
  category: writing
---
<div class="home">
  <div class="writing">
    <div class="image">
    </div>
    <h1 class="post-title">Writing</h1>
    <div class="description">
      <p></p>
    </div>
  </div>

  <section>
    <ul class="post-list">
      {% for post in paginator.posts %}
      <li>
        {% if post.publication_url %}
        <h2>
          <a href="{{ post.publication_url }}">{{ post.title }}</a>
        </h2>
        {% else %}
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {% endif %}
        {% if post.image %}
        {% picture listings {{post.image}} alt="{{post.title}}" %}
        {% endif %}
        {{ post.excerpt }}
        <!-- TODO: Let's consolidate -->
        <div class="post-meta">
          {% if post.publication_url %}
          <a class="post-link" href="{{ post.publication_url }}">Read More</a>
          {% else %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Read More</a>
          {% endif %}
          {% if post.categories %}
          {% include category_block.html %}
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% include pagination.html %}

</div>
