<span class="project-block">
From the
{% case post.categories[1] %}
{% when 'odtwe' %}
<a href="writing/odtwe.html">One Day the World Ended</a>
{% when 'chipshop' %}
<a href="games/chipshop.html">Chip Shop</a>
{% when 'leantraveller' %}
<a href="writing/leantraveller.html">Lean Traveller</a>
{% when 'chrischinchilla' %}
<a href="writing/chrischinchilla.html">Chris Chinchilla</a>
{% when 'presentations' %}
<a href="writing/presentations.html">Presentations</a>
{% else %}
Something Else
{% endcase %}
 project
</span>
