{% if post.categories[1] == 'sitepoint' or post.categories[1] == 'crate' %}
<span class="project-block">
  <b>Published on: </b>{{ post.categories[1] }}
</span>
{% else %}
<span class="project-block">
  From the
  {% case post.categories[1] %}
  {% when 'odtwe' %}
  <a href="/projects/odtwe">One Day the World Ended</a>
  {% when 'chipshop' %}
  <a href="/projects/chipshop">Chip Shop</a>
  {% when 'leantraveller' %}
  <a href="/projects/leantraveller">Lean Traveller</a>
  {% when 'chrischinchilla' %}
  <a href="/writing/chrischinchilla">Chris Chinchilla</a>
  {% when 'presentations' %}
  <a href="/writing/presentations">Presentations</a>
  {% when 'not-profit-handbook' %}
  <a href="/projects/not-profit-handbook">The Not-for-Profit Handbook</a>
  {% else %}
  Something Else
  {% endcase %}
  project
</span>
{% endif %}
