<p class="icon_bar">
  <a href="http://facebook.com/chrischinchilla" target="_blank"><img class="img-responsive" src="/images/icons/social/facebook.png"></a>

  <a href="https://twitter.com/ChrisChinch" target="_blank"><img class="img-responsive" src="/images/icons/social/twitter.png"></a>

  <a href="https://plus.google.com/+ChrisWardChinch" target="_blank"><img class="img-responsive" src="/images/icons/social/gplus.png"></a>

  <br/>

  <a href="https://www.xing.com/profile/Chris_Ward16/" target="_blank"><img class="img-responsive" src="/images/icons/social/xing.png"></a>

  <a href="http://www.linkedin.com/in/chrischinchilla" target="_blank"><img class="img-responsive" src="/images/icons/social/linkedin.png"></a>

  <a href="http://github.com/ChrisChinchilla" target="_blank"><img class="img-responsive" src="/images/icons/social/octocat.png"></a>

  <br/>

  <a href="skype:chriswhward?call"><img class="img-responsive" src="/images/icons/social/skype.png"></a>

  <a href=""><img src="/images/icons/social/email.png"></a>

  <a href="{{ "/feed.xml" | prepend: site.baseurl }}"><img src="/images/icons/social/rss.png"></a>
</p>
