<div id="menu" class="trigger">
  <ul class="menu nav">
    <li class="first expanded dropdown">
      <a href="/games" title="Games">Games </a>
      <ul>
        <li ><a href="/games/chipshop" title="Chip Shop">Chip Shop</a></li>
      </ul>
    </li>
    <li >
      <a href="/software" title="Software">Software </a>
      <ul>
        <li >
          <a href="/software/aah" title="Answers Against Humanity">Answers Against Humanity</a>
        </li>
      </ul>
    </li>
    <li >
      <a href="/writing" title="Writing">Writing </a>
      <ul>
        <li class="first leaf">
          <a href="/writing/odtwe" title="One Day the World Ended">One Day the World Ended</a>
        </li>
        <li>
          <a href="/writing/chrischinchilla" title="Personal Blog">Personal Blog</a>
        </li>
        <li>
          <a href="/writing/not-profit-handbook" title="The Not-for-Profit Handbook">The Not-for-Profit Handbook</a>
        </li>
        <li>
          <a href="/writing/leantraveller" title="The Lean Traveller">The Lean Traveller</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/connect">Connect</a>
    </li>
  </ul>
</div>
