<ul class="menu nav">
  <li class="first expanded dropdown">
    <a href="/projects" title="Projects">Projects
    </a>
    {% if page.categories[0] == 'projects' or page.permalink == 'projects/' or page.permalink == 'projects/software/' or page.permalink == 'projects/odtwe/' or page.permalink == 'projects/chipshop/' or page.permalink == 'projects/greenrenters' or page.permalink == 'projects/not-profit-handbook/' %}
    <ul>
      <li >
        <a href="/projects/chipshop" title="Chip Shop">Chip Shop</a>
      </li>
      <li>
        <a href="/projects/odtwe" title="One Day the World Ended">One Day the World Ended</a>
      </li>
      <li >
        <a href="/projects/software" title="Software">Software</a>
      </li>
      <li>
        <a href="/projects/not-profit-handbook" title="The Not-for-Profit Handbook">The Not-for-Profit Handbook</a>
      </li>
      <li >
        <a href="/projects/greenrenters" title="Green Renters">Green Renters</a>
      </li>
    </ul>
    {% endif %}
  </li>
  <li><a href="/writing" title="Writing">Writing</a>
    {% if page.permalink == 'writing/cate/' or page.permalink == 'writing/chris/' or page.permalink == 'writing/books' or page.permalink == 'writing/courses' or page.permalink == 'writing/' or page.categories[0] == 'writing' or page.categories[0] == 'Cate' or page.categories[0] == 'Chris' %}
    <ul>
      <li>
        <a href="/writing/cate" title="Cate">Cate</a>
      </li>
      <li>
        <a href="/writing/chris" title="Chris">Chris</a>
      </li>
    </ul>
    {% endif %}
  </li>
  <li><a href="/podcast" title="Podcast">Podcast</a> </li>
  <li>
    <a href="/connect">Connect</a>
  </li>
  <li><a href="/support">Support</a></li>
  <li><a href="/search">Search</a></li>
</ul>
