.icon_bar {
  margin-top: $spacing-unit;
  margin-left: ($spacing-unit / 2) + 5;
  width: 45%;
  img {
    width: 30px;
    display: inline;
    padding-right: 5px;
    padding-bottom: 5px;
    @include media-query($on-palm) {
      display: inline;
      width: 40px;
    }
    @include media-query($on-laptop) {
      width: 60px;
      display: inline;
    }
    height: auto;
  }
}
