.event,
.presentations {
  .date {
    font-weight: bold;
    width: 135px;
    font-size: 1.55em;
    text-align: center;
    display: block;
    float: left;
    padding-right: $spacing-unit;
    padding-bottom: $spacing-unit;
    @include media-query($on-laptop) {
      float: none;
      display:initial;
    }
  }
  .future-event {
    h3 {
      @include media-query($on-laptop) {
        margin-left:0;
      }
    }
    .date {

    }
  }
  .past-event {
    color: $grey-color-light;
    h3 {
      @include media-query($on-laptop) {
        margin-left:0;
      }
    }
    h2 {
      a {
        color: $grey-color-light;
      }
    }
    .date {
    }
    a {
      
    }
  }
  h2 {
    text-align: right;
  }
  .event-details {
    margin-left:0;
  }
  .post-meta {
    margin-left:0;
    p {
      margin-left:165px;
    }
  }
}
