.headings {
  margin-top: 0;
  margin-bottom: 2px;
  text-align: right;
  font-size: $base-font-size * 1.5;
  font-weight: bold;
  line-height: initial;
}

/**
* Site header
*/
.fixed {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.site-header {
  .wrapper {
    margin-left: 0;
    margin-right: 0;
    margin-top: $spacing-unit * 4;
  }
  @extend .fixed;
  border-top: none;
  border-bottom: none;
  min-height: 100px;
  height:100px;

  @include media-query($on-laptop) {
    min-height: 50px;
    height:50px;
  }
  // Positioning context for the mobile navigation icon
  // position: relative;
  background-image:url(/images/gm-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgba(255,255,255,0.8);
}

.site-title {
  // font-size: 26px;
  // line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

/** Pagination **/
.pagination {
  float:right;
  font-size: $base-font-size / 2 ;
}


/**
* Site footer
*/
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: $base-font-size / 3;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  margin-top: $spacing-unit / 2;
  // padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(65% - (#{$spacing-unit} / 2));
  width:         calc(65% - (#{$spacing-unit} / 2));

  img {
    float: left;
    margin-right: $spacing-unit / 3;
  }

  span {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
    display: block;
  }
}

// .footer-col-3 {
//   width: -webkit-calc(45% - (#{$spacing-unit} / 2));
//   width:         calc(45% - (#{$spacing-unit} / 2));
// }

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
* Page content
*/
.page-content {
  // width: 70%;
  // float: right;
  margin-left: 15%;
  @include media-query($on-laptop) {
    margin-left:0;
    padding-top: $spacing-unit * 2;
  }
  padding-top: $spacing-unit * 4;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
  @include media-query($on-palm) {
    width: 100%;
    float: none;
    padding-left: 0;
  }
}

section {
  clear: both;
  padding-top: $spacing-unit;
  .post-list {
    margin-left: 0;
    list-style: none;
    h2 {
      @extend .headings;
      text-align: left;
      margin-left: 165px;
      font-size: $base-font-size * 1.5;
      @include media-query($on-laptop) {
        font-size: $base-font-size * 1.15;
        margin-left: 0;

      }
      a {
        color: $text-color;
      }
    }
    > li {
      margin-bottom: $spacing-unit;
      border-top: 1px solid #dddddd;
      padding-top: $spacing-unit;
      min-height: 180px;
      p {
        margin-left: 165px;
        @include media-query($on-laptop) {
          margin-left: 0;
        }
      }
      picture {
        float: left;
        padding-right: $spacing-unit / 2;
        padding-bottom: 0;
        img {
          max-height: 175px;
        }
      }
    }
  }
}
.event-details {
  margin-left: 165px;
}
.post-meta {
  margin-left: 165px;
  // display: inline-block;
  font-size: $base-font-size / 2;
  @include media-query($on-laptop) {
    margin-left: 0;
  }
  a {
    display: inline-block;

  }

  .project-block {
    // font-size: $base-font-size / 2;
    display: inline-block;
    font-style: italic;
    margin-left: $spacing-unit * 2;
    @include media-query($on-laptop) {
      margin-left: 0;
      display: block;
    }
  }
}

/**
* Posts
*/
.post-header {
  margin-bottom: $spacing-unit;
}

h1 {
  @extend .headings;
  font-size: $base-font-size * 2.25;
  @include media-query($on-laptop) {
    font-size: $base-font-size * 1.15;
  }
}
aside.image {
  @extend .mobile-images;

  float: left;
  padding-right: $spacing-unit / 2;

  picture {
    img {
      // max-width: 200px;
      vertical-align: middle;
      // max-height: 300px;
      // min-height: 200px;
      // min-width: 100px;
      @include media-query($on-laptop) {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  p:first-child:first-letter {
    @extend .first-letter;
  }

  h2 {
    @extend .headings;
    text-align: left;
    font-size: $base-font-size * 1.05;
    @include media-query($on-laptop) {
      font-size: $base-font-size;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
