  #menu {
  font-size: $tiny-font-size;
  padding: 0;
  padding-top: 120px;
  width: 15%;
  // float: left;
  position: fixed;
  .menu,
  .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .menu ul {
    margin-left: 2.5em; /* indentation */
    position: relative;
  }

  .menu ul ul {
    margin-left: .5em
  }

  .menu ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid;
  }

  .menu li {
    margin: 0;
    padding: 0; /* indentation */
    line-height: $base-line-height; /* default list item's `line-height` */
    color: #369;
    font-weight: bold;
    position: relative;

    a {
      display: block;
      padding: 3px 20px;
      line-height: $base-line-height;
      color: #333333;
    }
    ul {
      li {
        font-weight: normal;
      }
    }
  }

  .menu ul li:before {
    content: "";
    display: block;
    width: 13px; /* same with indentation */
    height: 0;
    border-top: 1px solid;
    margin-top: -1px; /* border top width */
    position: absolute;
    top: 1em; /* (line-height/2) */
    left: 0;
  }
}

@include media-query($on-palm) {
#menu {
  display: none;
}
}
