// TODO: Consolidate and function-ise

.writing {
  /*.image {
    img {
      @extend .mobile-images;
      @include image-mask('/images/rabbit_image.gif')
    }
  }*/
  .description {
    p:first-child:first-letter {
      @extend .first-letter;
    }
  }
}

.meetme {
  /*.image {
    img {
      @extend .mobile-images;
      @include image-mask('/images/rabbit_image.gif')
    }
  }*/
  .description {
    p:first-child:first-letter {
      @extend .first-letter;
    }
  }
}

.chrischinchilla {
  /*.image {
    img {
      @extend .mobile-images;
      @include image-mask('/images/chris_chinchilla.gif')
    }
  }*/
  .description {
    p:first-child:first-letter {
      @extend .first-letter;
    }
  }
}

.projects, .services {
  /*.image {
    img {
      @extend .mobile-images;
      @include image-mask('/images/cat_image.gif')
    }
  }*/
  .description {
    p:first-child:first-letter {
      @extend .first-letter;
    }
  }
}

.events {
  /*.image {
    img {
      @extend .mobile-images;
      @include image-mask('/images/koala_image.gif')
    }
  }*/
  .description {
    p:first-child:first-letter {
      @extend .first-letter;
    }
  }
}
