.tagsList {
  font-size: $tiny-font-size;
  width: 12%;
  margin: 0;
  padding: 0;
  display: inline;
  line-height: 1;

  h2 {
    margin-bottom: 0;
  }

  a {
    text-transform: capitalize;
  }
  p {
    margin-top: $spacing-unit/2;
  }
}

.topics {
  h2 {
    text-transform: capitalize;
  }
}
