---
layout: default
---
<div class="home">

  <div class="holding">

    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>
    <aside class="image headshot">
      {% picture article {{page.image}} alt="{{page.title}}" %}
    </aside>
    <section>
      {{ content }}
    </section>
  </div>


  <section>
    <h2>My Latest Posts</h2>

    {% assign latest_posts = "" | split: "" %}
    {% assign counter = 0 %}

    {% for post in site.posts %}
    {% if post.categories contains page.categories and counter < 5 %}
    {% assign latest_posts = latest_posts | push: post %}
    {% assign counter = counter | plus: 1 %}
    {% endif %}
    {% endfor %}

    {% include post_list.html filtered_posts = latest_posts %}


    <h2>My Next Events</h2>

    {% assign future_events = "" | split: "" %}
    {% assign counter = 0 %}
    {% assign currentDate = site.time %}

    {% for post in site.events reversed %}
    {% if post.categories contains page.categories and post.date > currentDate and counter < 5 %}
    {% assign future_events = future_events | push: post %}
    {% assign counter = counter | plus: 1 %}
    {% endif %}
    {% endfor %}

    {% include event_list.html filtered_events = future_events %}


    <h2>Social</h2>
    {% assign counter = 0 %}
    {% for post in site.connect %}
    {% if post.categories contains page.categories %}
    {% if post.image %}
    <a href="{{ post.network_link }}">{% picture icon {{ post.image }} alt={{ post.title }} %}</a>
    {% else %}
    {{ post.network_link }}
    {% endif %}
    {% endif %}
    {% assign counter = counter | plus: 1 %}
    {% endfor %}
  </section>
</div>
