---
layout: default
---
<div class="post">
  <header class="post-header">
    <aside class="image">
      {% if page.image %}
      {% picture article {{page.image}} alt="{{page.title}}" %}
      {% endif %}
    </aside>
    <h1 class="post-title">{{ page.title }}</h1>
    {% include postTagList.html %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <div class="related-posts">
    <h3>Related Posts</h3>
    {% for post in site.related_posts | limit:5 %}
    {% if post.categories[1] == 'sitepoint' or post.categories[1] == 'crate' or post.categories[1] == 'theweeklysqueak' or post.categories[1] == 'codeship' %}
    <a href="{{ post.publication_url }}">{{ post.title }}</a><br/>
    {% else %}
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br/>
    {% endif %}
    {% endfor %}
  </div>

  {% include articleFooter.html %}

  {% if page.comments %}
  {% include comments.html %}
  {% endif %}
</div>
